/**
* Main container wrapper
*/
.wrapper {
  width: 100%;
  height: calc(100vh - 67px);
  display: flex; }

/**
* Main canvas where we drag nodes to
*/
#drawflow {
  position: relative;
  width: calc(100vw - 301px);
  height: calc(100% - 50px);
  top: 40px;
  background: var(--background-color);
  background-size: 25px 25px;
  /*
    * background grid lines
    */
  background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px), linear-gradient(to bottom, #f1f1f1 1px, transparent 1px); }

/**
* Sidenav
*/
.col {
  overflow: auto;
  width: 300px;
  height: 100%;
  border-right: 1px solid var(--border-color); }

/**
* Header
*/
header {
  height: 66px;
  border-bottom: 1px solid var(--border-color);
  padding-left: 20px; }

header h2 {
  margin: 0px;
  line-height: 66px; }

header a {
  color: black; }

/**
* Drag items from side nav
*/
.drag-item {
  line-height: 50px;
  border-bottom: 1px solid var(--border-color);
  padding-left: 20px;
  cursor: move;
  user-select: none; }

/**
* Tab menu
*/
.tab-menu {
  position: absolute;
  height: 40px;
  display: block;
  background: white;
  width: 100%; }

.tab-menu ul {
  padding: 0px;
  margin: 0px;
  line-height: 40px; }

.tab-menu ul li {
  display: inline-block;
  margin-left: 10px;
  border-right: 1px solid var(--border-color);
  padding-right: 10px;
  line-height: 40px;
  cursor: pointer; }

.tab-menu ul li.selected {
  font-weight: bold; }
